<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="/stylesheets/add_subject_stage1.css" type="text/css" rel="stylesheet">


<h1>Select Course</h1>
<div class="frame">
    <button onclick="window.location.href = '/admin/add_subject/BCA'" class="custom-btn btn-1">BCA</button>
    <button onclick="window.location.href = '/admin/add_subject/CF'" class="custom-btn btn-1">CF</button>
    <button onclick="window.location.href = '/admin/add_subject/CS'" class="custom-btn btn-1">CS</button>


</div>
<div class="mt-4 pt-2 text-center">

    <input onclick="window.location.href = '/admin/panel'" value="Back" class="btn btn-primary btn-lg" type="button">
</div>