<link href="/stylesheets/mark_selection.css" type="text/css" rel="stylesheet">

<h1>{{course}}</h1>
<p>Hover us and enjoy the satisfying neumorphic animation designs!</p>
<div class="frame">
    
    <button onclick="location.href='/admin/university/marks/{{course}}';" class="custom-btn btn-9"><span>University</span></button>
    <button class="custom-btn btn-9"><span>Internals</span></button>
    
    <p style="font-family: Andale Mono, monospace;">
        DEERBUCKS.DESIGNING</p>
</div>