#heading{
  color: rgb(90, 20, 255);
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}#column {
  align-items: center;
  float: left;
  width: 2.9%;
  padding: 2.9px;
}

#row::after {
  content: "";
  clear: both;
  display: table;
}
.mainbg{
 width: 100%; 
 /*
background-image: linear-gradient(#ffffff,#0099ff);
*/
height: 100%;

}
.homeicon{
margin-left: auto;
  margin-right: auto;
  width: 1.7%;
}

#topnav {
  background-color: #333;
  overflow: hidden;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 80.56px;
  text-decoration: none;
  font-size: 17px;
}
#topnav a#active {
  background-color: #04AA6D;
  color: white;
}
#footer{
  width: 100%;
  height: 57px;
  background-color: #333;
  border-style: outset;
}
#disclaimer{

   color: rgb(107, 107, 106);
   text-align: center;
   

}
#h2{
  text-align: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
#white {
  
  background-color: #e8e0f3!important;
}
#round {
  border-radius: 2.25rem!important;
  
  width: 75%;
}
#p {
  padding: 0rem!important;
  margin-right: -200px;
  margin-left: 50px;
}

.profile-pic-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* Snackbar css */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
